@use "../../Abstracts/" as *;

.blogs__entries {
  margin: 7vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    .blog__entry {
      a {
        display: flex;
        gap: 25px;
        img {
          object-fit: cover;
          height: 100px;
          aspect-ratio: 1/1;
          border-radius: 1em;
        }
        .blog__entry-desc {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }
}
