@use "../../Abstracts/" as *;

.blogIndexLayout {
  display: flex;
  margin: 7vh 1vh;
  justify-content: center;
  .blogs__entries {
    min-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    &-search {
      width: 100%;
      display: flex;
      gap: 20px;

      input {
        width: 100%;
      }
    }

    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;

      .blog__entry {
        a {
          display: flex;
          gap: 25px;

          img {
            object-fit: cover;
            height: 100px;
            aspect-ratio: 1/1;
            border-radius: 1em;
          }

          .blog__entry-desc {
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }
      }
    }
  }
}