@use "../../Abstracts/" as *;
.loginLayout{
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    @media screen and (max-width:$small), (orientation:portrait) {
        height: 200vh;
        flex-direction: column-reverse;
    }
    
    
    .header{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5%;
        position: relative;
        p{
            text-align: center;
            margin: 0 10%;
        }
        &-back{
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            overflow: hidden;
            svg{
                width: 100vw;
            }
        }
    }
}