@use "../../Abstracts/" as *;

.productFinderLayout {
    margin: 7vh 1vw;
    display: flex;
    gap: 20px;

    &-leftBar {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 2vh 1vw;
        &-nav {
            display: flex;
            gap: 5px;
        }
    }

    &-container {
        flex: 3;
        display: flex;
        flex-direction: column;
    }

    &-searchContainer {
        display: flex;
        align-items: end;
        justify-content: center;
        padding: 20px 0;
        gap: 50px;

        label {
            color: var(--fondo_opocite);
        }

        input {
            flex: 2;
            width: 50%;
            font-size: 1em;
            height: 100%;
        }

        button {
            flex: 1;
            font-size: 1em;
            height: 100%;
            //padding: 5px 10px;
        }
    }

    &-productBox {
        flex: 3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: auto;
        grid-gap: 20px;

    }

}