@use "../../../Abstracts/" as *;
.features {
  display: flex;
  flex-direction: column;
  margin: 5% 0;
  gap: 50px;
  .feature {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
    @media screen and (max-width: $small) {
      flex-direction: column;
      gap: 10px;
    }
    &.inv {
      flex-direction: row-reverse;
      @media screen and (max-width: $small) {
        flex-direction: column;
      }
    }

    img {
      object-fit: cover;
      width: 30%;
      aspect-ratio: 4/3;
      border-radius: 1em;
      @media screen and (max-width: $small) {
        height: unset;
        max-height: 100%;
        width: 90%;
      }
    }
    .feature-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 25%;
      gap: 20px;

      @media screen and (max-width: $small) {
        max-width: 90%;
      }
      button {
        @include box-shadow-updater(mm, var(--inputs_colors));
      }
    }
  }
}
